<div class='body'>
<div class='photo'>
    <%= image_tag("barber1.jpg", class:'img') %>
    <div class='work'>
      <h4>please click on appointments to book your appointment</h4>
      
      <p> Work days:Mon-Sat</p>
      <p>Off:Tues & Sun</p>
      <p>Contact:(347) 219-6640</p>
      <p>Location: 1442 E.Gun Hill rd | Bx,NY</p>
    </div>
   
</div>
<div class='container'>
<h1>Daily appointments </h1>

 
<div class='render'>
 <ol>
   <% @appointments.each do |a| %>
     <li>Name: <%= a.name %> Date: <%=a.date.strftime("%m-%d-%Y") %> Time: <%= a.time.strftime(" %I:%M%P") %>

     </li>
   <% end %>
 </ol>
 <hr>
 <div class='msg'>
  <h3>Clarkie's update</h3>
  <% @posts.each do |p| %>
  <%if p.user.profile.attached? %>
  <p><%= image_tag(p.user.profile,style:"border-radius:75%;height:75px;width:75px")%> <em><%=p.user.name %></em>
  <%end%>
  <%= p.post %> </p>
  <%end%>

</div>
</div>


</div>

</div>

