<h1>Book your appointment below</h1>
<div class='form'>
<%= form_with(model: @book) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> <br>
<%= f.label :Date %>
<%= f.date_field :date %> <br>
<%= f.label :Time %>
<%= f.time_field :time %> <br>
<%= f.label :Phone_Number %>
<%= f.text_field :phone %> <br>
<%= f.submit 'Book' %>
<%end%>
</div>

