<!DOCTYPE html>
<html>
  <head>
    <title>Procuts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='heade'>
  <header>
  <h1 id='head'>Welcome to Procuts Where best Barbers are found in the Bx</h1>
  </header>
  <nav>
    <%= link_to 'Home',appointments_path %>
    <%= link_to 'Appointments', new_appointment_path %>
    <%= link_to 'Barber', barbers_path %>
  </nav>
  </div>





    <%= yield %>
  </body>
</html>
